.Article-image {
    width: 150px;
    height: 120px;
    float: right;
    box-shadow: 0 2px 4px rgba(0,0,0,0.07);
    border-width: 15px;
    border-style: solid;
    border-color: white;
    transform: rotate(5deg);
}

.Article-content pre {
    overflow-x: scroll;
    font-size: 12px;
    line-height: 16px;
    background-color: #eee;
    padding: 8px;
}

@media screen and (min-width: 900px) {
    .Article-content pre {
        font-size: 16px;
        line-height: 20px;
        padding: 12px;
    }
}