.Article-image {
    width: 150px;
    height: 120px;
    float: right;
    box-shadow: 0 2px 4px rgba(0,0,0,0.07);
    border-width: 15px;
    border-style: solid;
    border-color: white;
    transform: rotate(5deg);
}