.ImageItem-container {
    display: table-row;
    width: 100%;
    clear: both;
    height: 47px;
    margin: 0;
    padding-top: 3px;
    cursor: pointer;
}

.ImageItem-photo {
    background: inherit;
    display: table-cell;
    height: 44px;
    overflow: hidden;
    margin: 0;
    padding-top: 6px;
    padding-right: 11px;
}

.ImageItem-info {
    margin-bottom: -10px;
}

.ImageItem-photo-disabled {
    opacity: 0.3;
}

.ImageItem-photo .cover-image {
    width: 44px;
    height: 44px;
    border-radius: 2.5px;
    object-fit: cover;
}

.ImageItem-details {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    padding-top: 6px;
    border-width: 0.5px;
    border-top-style: solid;
    border-color: #ccc;
}

.ImageItem-container:first-child .ImageItem-details {
    border-top: none;
}

.ImageItem-name {
    margin-top: 3px;
}

.ImageItem-description {
    margin-top: 5px;
    color: #888;
}

@media screen and (min-width: 900px) {
    .ImageItem-container {
        float: left;
        display: block;
        width: 208px;
        clear: none;
        height: auto;
        margin: 6px;
        padding: 8px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        border-color: rgb(68, 68, 68);
        border-bottom-style: none;
        border-width: 0;
        border-image-outset: 0;
        border-image-repeat: stretch stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-style: none;
        border-right-style: none;
        border-top-style: none;
    }

    .ImageItem-photo {
        background: #eeeeee;
        display: block;
        width: 208px;
        height: 150px;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .ImageItem-photo .cover-image {
        width: 208px;
        height: 150px;
        border-radius: 2.5px;
        margin: 0;
        object-fit: cover;
    }

    .ImageItem-details {
        display: flex;
        flex-direction: row;
        width: 208px;
        vertical-align: top;
        height: 44px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 9pt;
        padding-top: 6px;
        border-width: 0;
        margin: 0;
    }

    .ImageItem-container:first-child .ImageItem-details {
        border-top: none;
    }

    .ImageItem-name {
        margin-top: 3px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
    }

    .ImageItem-description {
        margin-top: 5px;
        color: #888;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 200px;
        font-size: 12px;
    }

    .ImageItem-info {
        margin-bottom: auto;
        width: 200px;
    }
}
